.vscode
.idea
build
build/***
archive*/***
debug/****
deps
deps*
deps/***
deps200529
deps200529/***
libraries/***
zzdeps
zzdeps/***
saved/***
***/node_modules
*/*/node_modules
*/*/*/node_modules
cmake-build-debug/***
core-*
scripts/changes-ignored/*
scripts/node_modules
*/node_modules
